[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
sentry-sdk = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
